@model GameModel
@using Hangman.Shared;

@{
    string[] qwertyLines = new string[]
    {
        "QWERTYUIOP",
        "ASDFGHJKL",
        "ZXCVBNM"
                    };
    ViewData["Title"] = "Hangman - Game";
}

<div class="text-center">
    <h1 class="display-4">Hangman</h1>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <span id="puzzleText">@String.Join(' ', Model.Puzzle.Text)</span>
    </div>
</div>
@foreach (var line in qwertyLines)
{
    <div class="row">
        <div class="col-sm-12 text-center">
            @foreach (var letter in line)
            {
                <button type="submit" class="btn btn-light btn-letter ajax-form-submit">@letter</button>
            }
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            const puzzleId = @Model.Puzzle.PuzzleId;

            $(".btn-letter").click(function () {
                $(this).attr("disabled", "disabled");
                processGuesses();

                function processGuesses() {
                    var guesses = [];
                    $(".btn-letter:disabled").each(function () {
                        guesses.push($(this).text());
                    });

                    var data = {};
                    data["puzzleId"] = puzzleId;
                    for (var i = 0; i < guesses.length; i++) {
                        data["guesses[" + i + "]"] = guesses[i];
                    }

                    $.ajax({
                        url: "@Url.Action("Guess", "Game")",
                        method: "GET",
                        data: data,
                        dataType: "json",
                        cache: false,
                        success: function (puzzle) {
                            const puzzleText = puzzle.text;
                            $("#puzzleText").text(puzzleText);
                            handleButtonClasses();

                            if (puzzle.status == 1) {
                                handleWin();
                            }
                        },
                        error: function () {
                            alert("ERROR");
                        }
                    });

                    function handleButtonClasses() {
                        const puzzleText = $("#puzzleText").text();
                        const puzzleChars = puzzleText.split("");

                        $(".btn-letter").each(function () {
                            if (puzzleChars.indexOf($(this).text()) != -1) {
                                $(this).attr("disabled", "disabled");
                                $(this).addClass("btn-success");
                                $(this).removeClass("btn-light");
                            } else {
                                $(this).removeClass("btn-success");
                                $(this).addClass("btn-light");
                            }
                        });
                    }

                    function handleWin() {
                        disableButtons();
                        displayWinNotification();

                        function disableButtons() {
                            $(".btn-letter").each(function () {
                                $(this).attr("disabled", "disabled");
                            });
                        }

                        function displayWinNotification() {
                            alert("YOU WIN!");
                        }
                    }
                }
            });
        });
    </script>
}
