@using Hangman.Shared;

@{
    var alphabet = Alphabet.UppercaseLetters;
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a website where you can play the classic <i>Hangman</i> game!</p>
</div>